*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: column;
}
nav{
    width: 100%;
}
menu{
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    padding: 0 15px;
    justify-content: space-around;
    gap: 40px;
}
menu .left a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
menu .center{
    flex-grow: 1;
    display: flex;
    justify-content: center; 
}
menu .center ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
menu .center ul li a{
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    display: block;
}
menu .center ul li a:hover{
    background-color: #333;
    color: #fff;
    border-radius: 3px;
}
menu .right form{
    display: flex;
    gap: 5px;
    align-items: center;
}
menu .right form input[type="search"]{
    padding: 7px;
    border-radius: 5px;
    border: none;
    outline: none;
}
menu .right form input[type="submit"]{
    padding: 7px 12px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #555;
    color: white;
    transition: background-color 0.3s ease;
}
menu .right form input[type="submit"]:hover{
    background-color: #333;
}
@media (max-width: 768px){
    menu{
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 15px;
    }

    menu .left{
        order: 1;
        margin-bottom: 10px;
    }

    menu .center{
        order: 2;
        justify-content: center;
        margin-bottom: 10px;
    }

    menu .center ul{
        flex-direction: column;
        gap: 8px;
        align-items: center;
    }

    menu .right{
        order: 3;
        margin-bottom: 5px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    menu .right form{
        flex-direction: row; /* کنار هم بودن سرچ و دکمه */
        gap: 5px;
    }

    menu .right form input[type="search"]{
        width: 150px;
    }

    menu .right form input[type="submit"]{
        width: auto;
    }
}
